
* {
    margin:0%;
    padding: 0%;
}

@font-face {
    font-family: 'StarWarsFont';
    src: url('./Fonts/Starjedi.ttf') format('truetype');
  }

  body {
    font-family: 'StarWarsFont', sans-serif;
    background-color: black;

  }



.logo img {
    height: 75px;
    margin-top: 5px;

}


.header {
    display:flex;
    justify-content: space-between;
    height:50px;
    margin-bottom: 30px;
     background-color: black;
     padding-bottom: 50px;
}

.menu {
    display: flex;
    padding-top: 20px;
    margin-right: 10px;
    justify-content: space-evenly;
}

.menu li {
    margin-right: 150px;
    margin-top: 10px;
}


.menu a {
    text-decoration: none;

}

.episode:hover {
    width: 150px;
}


.episode {
    width: 100px;
}



.user {
    margin-top: 20px;
    margin-right: 20px;
    background-color: black;
}


button {
    background-color: black;
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    font-family: 'StarWarsFont';
    src: url('./Fonts/Starjhol.ttf') format('truetype');
}


button a {
    text-decoration: none;
    padding: 10px;
    padding-top: 10px;
    color: white;
}


main {
    border:solid;
    border-color: white;
    display: flex;
    width:50%;
    

}

.quigon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
}

#description {
    align-self: center;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
}

h2 {
    color: white;
    padding-bottom: 20px;

}


section {
    color: white;
}


.persos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.perso {
    width: 400px;
}

.perso:hover {
    width: 500px;
}





footer {   
    color:black;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-around;
    background-color: #EEB902;
}


.foot1 {
    margin-bottom:10px;
}

